﻿@{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

@using System.Data;
@model DataTable;
@using InterviewQuestionPortal.Areas.Question_Master.Models;


<main id="main">

    @{
        List<String> options = new List<string> { "A", "B", "C", "D" };
        var Index = 0;
    }
    @foreach (DataRow dr in Model.Rows)
    {
        Index++;

        <div class="card mt-1" style="width: auto;">

            <div class="card-body border-1">
                <h5 class="card-title"><span>@Index.</span> @dr["Question"]</h5>

            </div>
            <div class="list-group m-2">
                @foreach (var i in options)
                {
                    <a class="list-group-item  "><label class="@(i.ToLower() == dr["CorrectAnswer"].ToString().ToLower()?" text-success":"text-dark")" for="@dr["QuestionID"].ToString()_@i"><span> @i. </span>@dr["Option_"+@i]</label></a>
                }
            </div>

            <div class="card-body">

                <p>
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#@dr["QuestionID"].ToString()" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Explanation
                    </a>
                </p>

                <div class="collapse" id="@dr["QuestionID"].ToString()">
                    <div class="card card-body text-dark">
                        @* Correct answer : @dr["CorrectAnswer"]
                    <br>*@
                        Explanation : @dr["Description"]
                    </div>
                </div>


            </div>

        </div>
    }
</main>


