@using InterviewQuestionPortal.BAL;
@{
    ViewData["Title"] = "Add SubTopic";
    Layout = "~/Views/shared/_Layout.cshtml";
}

@model InterviewQuestionPortal.Areas.SubTopic.Models.SubTopicModel

<main class="main" id="main">
    <div class="row">
        <!-- Basic Layout -->
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Add Subtopic</h5>
                        @*<small class="text-muted float-end">Default label</small>*@
                    </div>
                    <div class="card-body">
                        <form asp-area="SubTopic" enctype="multipart/form-data" asp-controller="SubTopic" asp-action="Save">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            @Html.HiddenFor(x=>x.SubTopicID)

                            <div class="dropdown mb-4">
                                <label for="basic-default-fullname"><span class="text-danger">*</span>SubjectName</label>
                                <select onchange="fnOnStateChange()" required class="form-control" id="SubjectID" asp-for="SubjectID" asp-items="@(new SelectList(ViewBag.SubjectList,"SubjectID","SubjectName"))">
                                    <option selected disabled value="">Select Subject</option>
                                </select>
                                <span asp-validation-for="SubjectID" class="text-danger"></span>
                            </div>
                            <div class="dropdown mb-4">
                                <label for="basic-default-fullname"><span class="text-danger">*</span>MainTopicName</label>
                                <select class="form-control" asp-for="MainTopicID" asp-items="@(new SelectList(ViewBag.MainTopicList, "MainTopicID", "MainTopicName"))">
                                    <option value="">Select MainTopic</option>
                                </select>
                                <span asp-validation-for="MainTopicID" class="text-danger"></span>
                            </div>

                            @*     <div class="dropdown mb-4">
                            <label for="basic-default-maintopic"><span class="text-danger">*</span>MainTopicName</label>
                            <select id="MainTopicID" class="form-control" asp-for="MainTopicID" asp-items="@(new SelectList(ViewBag.MainTopicList,"MainTopicID","MainTopicName"))" required>
                            <option selected value="">Select MainTopic</option>
                            </select>
                            <span asp-validation-for="MainTopicID" class="text-danger"></span>
                            </div>*@

                            @*<div class="col-xl-4">
                            <select class="form-control" id="MainTopicID" asp-for="MainTopicID" asp-items="@(new SelectList(ViewBag.MainTopicList,"MainTopicID","MainTopicName"))">
                            <option value="">Select maintopic</option>
                            </select>
                            <span asp-validation-for="MainTopicID" class="text-danger"></span>
                            </div>*@
                            @*</div>*@




                            <div class="form-floating form-floating-outline mb-4">

                                <input type="text" asp-for="SubTopicName" class="form-control" placeholder="Enter SubtopicName" required />
                                <label for="basic-default-fullname"><span class="text-danger">*</span>SubTopicName</label>
                                <span asp-validation-for="SubTopicName" class="text-danger"></span>
                            </div>


                            <button type="submit" onclick="temp()" class="btn btn-primary">
                                <span>Submit</span>

                            </button>
                            <a class="btn btn-primary" asp-area="SubTopic" asp-controller="SubTopic" asp-action="SubTopicList">Back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{

    <script>
        function temp() {
            var data = document.getElementById("MainTopicID")
            console.log(data)
        }
        function fnOnStateChange() {
            var SubjectID = $("#SubjectID").val();

            if (SubjectID !== "") {
                $("#MainTopicID").empty();
                $("#MainTopicID").append($("<option></option>").val("").html("Select MainTopic"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownMainTopic", "SubTopic")" + "?&SubjectID=" + SubjectID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    console.log(value)
                                    $("#MainTopicID").append($("<option></option>").val(value.mainTopicID).html(value.mainTopicName));
                                });
                        },
                        error: function (r) {
                            alert("Error while loading Dropdown.");
                        }
                    });
            }
            else {
                $("#MainTopicID").empty();
                $("#MainTopicID").append($("<option></option>").val("").html("Select MainTopic"));
            }
        }
    </script>

}