@{
    ViewData["Title"] = "SubTopic List";
    Layout = "~/Views/shared/_Layout.cshtml";
}
@using System.Data;
@model DataTable;
@using InterviewQuestionPortal.Areas.SubTopic.Models;



<!-- Bootstrap Table with Header - Dark -->
<main class="main" id="main">
    <div class="body">

        @{
            if (TempData["MainTopicInsertMsg"] != null)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    @TempData["MainTopicInsertMsg"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            if (TempData["MainTopicupdateMsg"] != null)
            {
                <div class="alert alert-warning  alert-dismissible" role="alert">
                    @TempData["MainTopicupdateMsg"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        }

        <div class="card">
            <div class="row">
                <h2 class="col-10 card-header">SubTopic Table</h2>
                <div class="col my-4">
                    <a type="submit" asp-area="SubTopic" asp-action="AddSubTopic" asp-controller="SubTopic" class="btn rounded-pill btn-success">Add SubTopic</a>
                </div>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>SubTopicID</th>
                            <th>SubTopicName</th>
                            <th>SubjectName</th>
                            <th>MainTopicName</th>
                            <th>Active</th>
                            <th>Created</th>
                            <th>Modified</th>
                            @*<th>UserID</th>*@
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (DataRow dr in Model.Rows)
                        {
                            <tr>
                                @*<td>
                            <i class="mdi mdi-wallet-travel mdi-20px text-danger me-3"></i><span class="fw-medium">Tours Project</span>
                            </td>*@
                                <td>@dr["SubTopicID"]</td>
                                <td>@dr["SubTopicName"]</td>
                                <td>@dr["SubjectName"]</td>
                                <td>@dr["MainTopicName"]</td>
                                <td><span class="badge rounded-pill bg-label-primary me-1">Active</span></td>
                                <td>@Convert.ToDateTime(dr["Created"]).ToString()</td>
                                <td>@Convert.ToDateTime(dr["Modified"]).ToString()</td>
                               
                                
                                <td>
                                    <form>
                                        <input type="hidden" value="@Convert.ToInt32(dr["SubTopicID"])" name="MainTopicID" />
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">

                                                <i class="mdi mdi-dots-vertical"></i>
                                            </button>
                                            <div class="dropdown-menu">

                                               @* <button type="submit" class="dropdown-item" asp-area="MainTopic" asp-controller="MainTopic" asp-action="AddMainTopic"><i class="mdi mdi-pencil-outline me-1"></i> Edit</button>*@
                                                <button onclick="return deleteAlert();" type="submit" class="dropdown-item" asp-area="SubTopic" asp-controller="SubTopic" asp-action="SubTopicDelete"><i class="mdi mdi-trash-can-outline me-1"></i> Delete</button>

                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<!--/ Bootstrap Table with Header Dark -->
@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        function deleteAlert() {

            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}
